.cart-button {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .3rem;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  margin-left: 1.2rem;
  color: #333;
}

.cart-status {
  background-color: tomato;
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  top: -5px;
  left: -5px;
  color: #FFF;
  font-size: .8rem;
  font-weight: 500;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}